body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
  }
  @import '~mdb-ui-kit/css/mdb.min.css';
  .gradient-custom {

    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  }
  .maincontaner{
    margin-top: 1.5rem;
  }

.title-font{
  font-size: small;
}
.btn-danger{
  position: relative;
  float: right;
}
.cartContaner{
  position: absolute;
  right: 0;
  margin-right: 3rem;
  font-size: 1rem;
  padding: 1px;
}
.fas{
  // border: 1px solid red;
  cursor: pointer;
  color: black;
  // width: 30px;
}
.maincontaner{
  position: relative;
  margin-top: 0;
  
}
.userContaner{
  position: absolute;
  top: 2.4rem;
  right: 0;
  list-style-type: none;
  color: black;
  cursor: pointer;
  background-color: #fff;
 border-radius: var(--border-radius);
 margin-right: 1rem;



 
 




}


.userContaner ul li{
  font-size: small;
  margin-right: 2rem;
}

.userContaner ul hr{
  margin: 10px;
}


h3{
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-text-color);
  line-height: 1.2rem;
}

h3 span{
  font-size: 14px;
  color: var(--secondary-text-color);
  font-weight: 400;
}



.dropdownItem{
  display: flex;
  margin: 10px auto;
}

.dropdownItem img{
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}

.dropdownItem a{
  max-width: 100px;
  margin-left: 10px;
  transition: var(--speed);
}
// user onclick button
.shadow-custom {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, .25), 0 3px 6px 0px rgba(0, 0, 0, 0.63) !important;
}

// image slider

.carousel-inner{
  .carousel-item{
    img{
      height: 90vh;
    }
  }
}